* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
}

/* NAVBAR */
header {
    width: 100%;
    padding: 20px 50px;
    background: #00796b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 28px;
    font-weight: 700;
}

header nav a {
    margin-left: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    color: #c8ffef;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
}

.hero-left {
    max-width: 50%;
}

.hero-left h1 {
    font-size: 55px;
    margin: 10px 0;
}

.hero-left h3 {
    font-size: 24px;
}

.hero-left h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.highlight {
    color: #00796b;
    font-weight: 700;
}

.hero-left p {
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.social-icons img {
    width: 35px;
    margin-right: 15px;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.15);
}

/* CV Button */
.cv-btn {
    padding: 12px 25px;
    border: none;
    background: #00796b;
    color: #fff;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.cv-btn:hover {
    background: #00564e;
}

/* RIGHT IMAGE */
.img-circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    background: #00796b33;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px #00897b40;
}

.img-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
